.coffeeshop {
    background-color: $white;
    padding: 20px 20px 40px;
    
    &__title {
        text-align: center;
        @include section-heading;
    }

    &__description p{
        margin-top: 40px;
        text-align: center;
        font: {
            family: $inter;
            size: 20px;
        }
        line-height: 40px;
        letter-spacing: 2px;
    }

    &__prices {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;

        &__drinks {
            align-items: flex-start;
            &-item {
                width: 438px;
            }
        }

        &__food {
            align-items: flex-end;
            text-align: right;
            &-item {
                p:first-child {
                    margin-right: 60px;
                }
            }
        }

        &__drinks,
        &__food {
            display: flex;
            flex-direction: column;
            gap: 40px;
            font-family: $forum;
            line-height: 40px;
            letter-spacing: 2px;

            &-title {
                font-size: 40px;
                color: $sand;
            }

            &-item {
                font-size: 20px;
                color: $black;
                display: flex;
                align-items: center;

                p:first-child {
                    font-family: $inter;
                }

                hr {
                    width: 100px;
                    background-color: $sand;
                    height: 1px;
                    border: none;
                    margin-right: 60px;
                }
            }
        }
    }
}