.footer {
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    font-family: $inter;
    background-color: $dark;
    color: $white;
    
    &-info {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        line-height: 20px;
    }

    &-address {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &-social-media {
        display: flex;
        gap: 15px;
    }

    &-working-hours {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    hr {
        margin-top: 30px;
        width: 100%;
    }

    &-copyright {
        margin-top: 44px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        line-height: 200%;
        letter-spacing: 2px;

        a {
            color: inherit;
            &:hover {
                color: $sand;
            }
        }
    }
}