.favorites {
    background-color: $white;
    padding: 20px 20px 40px;

    &__title {
        text-align: center;
        @include section-heading;
    }

    .radiobox__wrapper {
        margin-top: 40px;
        font-family: $inter;
        font-size: 20px;
        line-height: 120%;

        &-field {
            display: flex;
            align-items: center;
            gap: 90px;

            legend {
                margin-bottom: 40px;
            }

            label {
                cursor: pointer;
            }

            input[type="radio"] {
                @include custom-radio;
                margin-right: 15px;
                cursor: pointer;
            }

            input[type="radio"]:checked + label {
                font-weight: bold;
            }
        }
    }

    .card-container {
        display: flex;
        position: relative;
        margin-top: 40px;
        height: 1150px;

            @include md {
                justify-content: center;
                height: 2340px;
            }

        .winter, .spring,
        .summer, .autumn {
            display: grid;
            grid-template-columns: repeat(2, 550px);
            grid-template-rows: repeat(2, 555px);
            grid-column-gap: 260px;
            row-gap: 40px;
            position: absolute;

            z-index: 0;
            opacity: 0;

                @include md {
                    grid-template-columns: repeat(1, 550px);
                }
                
            .book {
                display: flex;
                border: 1px $black solid;
                padding: 15px;
                position: relative;
                
                .book-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                
                .book-info {
                    font-family: $inter;
                    gap: 19px;
                    display: flex;
                    flex-direction: column;
                }
                
                .book-label {
                    font-family: $forum;
                    font-size: 20px;
                    line-height: 40px;
                    letter-spacing: 2px;
                    hr {
                        border: none;
                        height: 1px;
                        background-color: $sand;
                        position: absolute;
                        left: 15px;
                        width: 60px;
                    }
                }
                
                .book-title,
                .book-description {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 40px;
                    letter-spacing: 2px;
                    text-transform: capitalize;
    
                    h5 {
                        text-transform: uppercase;
                    }
                }
                
                .book-description {
                    font-weight: normal;
                    max-width: 355px;
                }
                
                .book-btn {
                    margin-top: 15px;
                    width: 75px;
                    height: 30px;
                    border: 1px $dark solid;
                    color: $black;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 1px;
                    background-color: $white;
                    cursor: pointer;
                    &:hover {
                        border-color: $sand;
                        color: $sand;
                    }
                }

                // .book-btn:hover {
                //     background-color: $sand;
                // }
                
                .book-image {
                    position: absolute;
                    width: 200px;
                    height: 300px;
                    bottom: -1px;
                    right: -40px;
                }
            }   
        }
    }
}