.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    background-color: $dark;
    color: $white;

    h1 {
        font-family: $forum;
        font-size: 30px;
        line-height: 167%;
        letter-spacing: 0.02em;
    }
    
    .menu__container {
        display: flex;
        align-items: center;
        gap: 40px;
        
        .menu__list {
            display: flex;
            gap: 30px;

            @include md {
                display: flex;
                order: 4;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -100%;
                right: 0;
                z-index: 15;
                width: 332px;
                height: 570px;
                background-color: $dark;
                transition: all ease-in-out .3s;
                opacity: 0;

                &.active {
                    top: 0%;
                    opacity: 1;
                }
            }
        
            a {
                font-family: $inter;
                font-size: 20px;
                color: $white;
                text-decoration: none;
                line-height: 220%;

                &:hover {
                    cursor: pointer;
                    color: $sand;
                }
            }
        }

        .menu__profile {
            display: flex;
            align-items: center;
            z-index: 16;

            @include md {
                order: 2;
            }

            .menu__user {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .profile__icon {
                    z-index: 15;
                    cursor: pointer;

                    .icon__no-auth {
                        display: flex;
                        height: 28px;
                        width: 28px;

                        &.logged {
                            display: none;
                        }
                    }

                    .icon__auth {
                        display: none;
                        height: 28px;
                        width: 28px;
                        align-items: center;
                        justify-content: center;
                        color: $sand;
                        background-color: $white;
                        border: 1px solid $white;
                        border-radius: 50%;
                        font-family: $inter;
                        font-size: 15px;
                        line-height: 20px;

                        &.logged {
                            display: flex;
                        }
                    }
                }

                .profile__no-auth,
                .profile__auth {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    align-items: center;
                    top: -600%;
                    right: -15px;
                    width: 80px;
                    height: 115px;
                    padding: 5px 0px;
                    z-index: -1;
                    background-color: $white;
                    font-size: 15px;
                    font-family: $inter;
                    line-height: 20px;
                    color: $black;
                    transition: all ease-in-out .3s;

                    @include md {
                        right: auto;
                    }

                    &.active {
                        top: 55px;
                    }

                    span {
                        font-weight: bold;
                    }

                    hr {
                        height: 1px;
                        width: 40px;
                        background-color: $sand;
                        border: none;
                    }

                    a {
                        margin-top: 10px;
                        cursor: pointer;
                        &:hover {
                            color: $sand;
                        }
                    }
                }
            }
        }
        
        .menu__hamburger {
            display: none;

            @include md {
                display: flex;
                order: 3;
                flex-direction: column;
                gap: 10px;
                width: 45px;
                z-index: 16;
            }

            &:hover {
                cursor: pointer;
            }
            
            .hamburger-line {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $white;
                transition: all ease-in-out .3s;
            }

            .active-hamburger-line-1 {
                opacity: 0;
            }

            .active-hamburger-line-2 {
                transform: rotateZ(46deg);
            }

            .active-hamburger-line-3 {
                transform: translateY(-12px) rotateZ(-46deg);
            }
        }
    }

    .authorization {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        background-color: rgba(12, 12, 14, 0.5);

        &.active {
            display: flex;
        }

        .modal__log-in {
            display: none;
            flex-direction: column;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 262px;
            padding: 20px 25px;
            margin-bottom: 10px;
            z-index: 501;
            background-color: $white;
            color: $black;
            font-family: $inter;

            &.active {
                display: flex;
                justify-content: space-between
            }

            .log-in__text {
                text-align: center;
                font-family: $forum;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 0.4px;
            }

            img {
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }

            form {
                display: grid;

                .log-in__row {
                    margin-top: 10px;
                    line-height: 20px;
                }

                label {
                    margin-bottom: 10px;
                    line-height: 20px;
                }

                input {
                    margin-top: 10px;
                    height: 20px;
                    width: 100%;
                    font-family: $inter;
                    border-color: $sand;
                    letter-spacing: 0.2px;
                }

                .log-in__button {
                    background-color: $white;
                    margin-top: 10px;
                    width: 75px;
                    height: 30px;
                    border-radius: 2px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    &:hover {
                        color: $sand;
                        cursor: pointer;
                    }
                }
            }

            .log-in__register {
                display: flex;
                margin-top: 10px;
                gap: 10px;
                font-size: 10px;
                font-family: $inter;
                line-height: 12px;
                

                a {
                    text-decoration: underline;
                    font-weight: bold;
                    letter-spacing: 1px;
                    cursor: pointer;
                    &:hover {
                        color: $sand;
                    }
                }
            }
        }

        .modal__register {
            display: none;
            flex-direction: column;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 382px;
            padding: 20px 25px;
            z-index: 501;
            background-color: $white;
            color: $black;
            font-family: $inter;

            &.active {
                display: flex;
            }

            .register__text {
                text-align: center;
                font-family: $forum;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 0.4px;
                margin-bottom: 10px;
            }

            img {
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }

            form {
                display: grid;

                .register__row {
                    margin-top: 10px;
                    line-height: 20px;
                }

                label {
                    margin-bottom: 10px;
                    line-height: 20px;
                }

                input {
                    margin-top: 10px;
                    border-color: $sand;
                    font-family: $inter;
                    appearance: textfield;
                    height: 20px;
                    width: 100%;
                }

                .register__button {
                    background-color: $white;
                    margin-top: 10px;
                    width: 75px;
                    height: 30px;
                    border-radius: 2px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .register__log-in {
                display: flex;
                margin-top: 10px;
                gap: 10px;
                font-size: 10px;
                font-family: $inter;
                line-height: 12px;
                

                a {
                    text-decoration: underline;
                    font-weight: bold;
                    letter-spacing: 1px;
                    cursor: pointer;
                    &:hover {
                        color: $sand;
                    }
                }
            }
        }

        .modal__profile {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: 400px;
            z-index: 501;
            background-color: $white;
            color: $black;

            &.active{
                display: flex;
            }

            .profile__close {
                position: absolute;
                top: 25px;
                right: 25px;
                cursor: pointer;
            }

            .profile__user {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 170px;
                gap: 15px;
                background-color: $black;
                font-family: $inter;
                font-size: 20px;
                line-height: 20px;

                .icon__auth {
                    width: 80px;
                    height: 80px;
                    text-align: center;
                    align-content: center;
                    background-color: $white;
                    color: $sand;
                }

                .user-full-name {
                    width: 120px;
                    height: max-content;
                    text-align: center;
                    align-content: center;
                    background-color: $white;
                    color: $black;
                }
            }

            .profile__info {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 40px 20px;

                .profile-title {
                    font-family: $forum;
                    font-size: 40px;
                    line-height: 20px;
                    letter-spacing: 0.4px;
                    margin-bottom: 10px;
                }

                .profile-statistics {
                    display: flex;
                    gap: 35px;
                    margin-top: 40px;
                    font-family: $inter;
                    font-size: 20px;
                    line-height: 20px;
                    letter-spacing: 2%;

                    .profile-visits,
                    .profile-bonuses,
                    .profile-books {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 13px;
                        
                        span {
                            font-size: 10px;

                        }
                    }
                }

                .profile-rented {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    gap: 30px;
                    font-family: $inter;

                    h6 {
                        font-size: 25px;
                        line-height: 20px;
                    }

                    .rented-list {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 100%;
                        height: 80px;
                        list-style: inside;
                        overflow: scroll;
                        overflow-x: hidden;

                        li {
                            font-size: 20px;
                            line-height: 20px;
                            letter-spacing: 2px;
                        }
                    }
                }

                .profile-card-number {
                    display: flex;
                    gap: 15px;
                    font-family: $inter;
                    font-size: 20px;
                    line-height: 20px;

                    span {
                        color: $sand;
                    }

                    img:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .modal__buy {
            display: none;
            flex-direction: column;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 650px;
            height: 540px;
            z-index: 501;
            background-color: $white;
            color: $black;

            &.active {
                display: flex;
            }

            .buy__close {
                position: absolute;
                top: 25px;
                right: 25px;
                filter: invert(1);
                cursor: pointer;
            }

            .buy__text {
                text-align: center;
                align-content: center;
                height: 60px;
                background-color: $black;
                color: $white;
                font-family: $forum;
                font-size: 40px;
                line-height: 20px;
                letter-spacing: 0.4px;
            }

            .buy__content {
                display: flex;
                gap: 40px;
                padding: 30px 40px;

                form {
                    display: grid;
                    width: 200px;
    
                    .buy__row {
                        line-height: 20px;

                        &__exp-inputs {
                            display: flex;
                            gap: 10px;

                            input {
                                font-family: $inter;
                                width: 45px;
                                appearance: textfield;
                            }
                        }

                        &.cvc {
                            width: 45px;
                        }

                        &.second {
                            margin-top: 10px;
                        }

                        &__sumbit {
                            display: flex;
                            gap: 25px;

                            span {
                                text-align: center;
                                align-content: center;
                                font-family: $inter;
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 20px;
                                letter-spacing: 2px;
                            }
                        }
                    }
    
                    label {
                        margin-bottom: 10px;
                        font-family: $inter;
                        font-size: 15px;
                        letter-spacing: 2%;
                        line-height: 20px;
                    }
    
                    input {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border-color: $sand;
                        height: 20px;
                        width: 100%;
                        font-family: $inter;
                        appearance: textfield;
                    }
    
                    .buy__button {
                        background-color: $white;
                        margin-top: 10px;
                        width: 75px;
                        height: 30px;
                        border-color: $black;
                        border-radius: 2px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        &:hover {
                            cursor: pointer;
                            color: $sand;
                            border-color: $sand;
                        }
                    }
                }

                .buy__info {
                    width: 330px;
                    font-family: $inter;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}
