.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    background-color: $dark;
    color: $white;

    h1 {
        font-family: $forum;
        font-size: 30px;
        line-height: 167%;
        letter-spacing: 0.02em;
    }
    
    .menu__container {
        display: flex;
        align-items: center;
        gap: 40px;
        
        ul {
            display: flex;
            flex-direction: row;
            gap: 30px;

            @include md {
                display: none;
            }
        
            a {
                font-family: $inter;
                font-size: 20px;
                color: $white;
                text-decoration: none;
                line-height: 220%;
            }
        }

        .profile__icon {
            display: flex;
            align-items: center;
            }
        
        .profile__icon:hover {
            cursor: pointer;
        }
    }
}
