@mixin section-heading {
    h2 {
      font-family: $forum;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0.05em;
    }
    hr {
      margin-top: 20px;
      width: 50px;
    }
}

@mixin custom-radio {
    appearance: none;
    border: 2px solid #000;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: relative;
  
    &:checked {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 7px;
        height: 7px;
        background-color: #000;
        border-radius: 50%;
      }
    }
}